Flask==3.1.1
flask-cors==6.0.1
gunicorn==21.2.0

google-generativeai==0.8.5
python-dotenv==1.1.0

reportlab==4.4.2
ipython==9.3.0  # Used for Markdown (optional, remove if not used in production)

langchain==0.3.26
langchain-community==0.3.26
langchain-core==0.3.66
langchain-chroma==0.2.4
langchain-groq==0.3.2
langchain-huggingface==0.3.0
langchain-text-splitters==0.3.8

chromadb==1.0.13
huggingface-hub==0.32.0
PyPDF2==3.0.1  # Required for PDF loading in LangChain

